html, body {
	height: 100%;
	}
	
body {
  background-image:         linear-gradient(to bottom, #ffffff, #ad9879);
}


#header {
	position: fixed;
	width:100%;
	margin-top: -15px;
	height: 12%;
	
	background-image:         linear-gradient(to bottom, #bda98a, #806b4b);
	border-radius:10px;
	opacity:0.9;
}
#header h1 {	font-family:Arial, serif;
		text-transform:bold;
		font-size:250%;
		color:black;
		text-align:center; }
		

/* OHJERUUTU ----------------------------------------------------------------------------------------------------------------------- */		
		
.ohjeruutu {
	text-align:center;
	font-family:serif;
	font-size:20px;
 	height:60%;
	width:50%;
	border-color:#66CD00;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background-color:#7cfc00;
	opacity:0.9;

	position:absolute;
	top:20%;
	right:25%;
	}
.hidden {
	display:none;}		


/* KUVAKKEET ----------------------------------------------------------------------------------------------------------------------------- */	
	
	
.kuvake{   /* Pelaa ja Harjoittele */
	font-size:150%;
	height:45%;
	width:35%;
	border-color:#bda98a;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	background-image:         linear-gradient(to bottom, #bda98a, #806b4b);} 


#alku_harjoittele{
	text-align:center;
	position:absolute;
	top:30%;
	right:10%;	}

#alku_harjoittele img {
	position:fixed;
	height:35%;
	width:30%;
	top:38%;
	right:12%;}


#alku_pelaa {
	text-align:center;
	position:absolute;
	top:30%;
	right:55%;}

#alku_pelaa img {
	position:fixed;
	height:35%;
	width:30%;
	top:38%;
	right:57%;}


	

.level { height:200px;
	width:250px;
	border-color:#bda98a;
	border-style:solid;
	border-width:1px;
	border-radius:3px;
	background-image:         linear-gradient(to bottom, #bda98a, #806b4b);}   


.level img {	height:180px;
	width:230px;}


#level1{
	position:absolute; top:20%; right:70%;}

#level2{
	position:absolute;top:20%;right:40%;}

#level3{
	position:absolute;top:20%;right:10%;}

#level4{
	position:absolute;top:60%;right:70%;}

#level5{
	position:absolute;top:60%;right:40%;}

#level6{
	position:absolute;top:60%;right:10%;}

	
	
	
/* NAPIT
-------------------------------------------------------------------------------------------------------------------
*/


#kirjaudu {   /*sopii napille, jossa kaksi riviä tekstiä, kuten "kirjaudu sisään" */
	text-align:center;
	text-decoration:none;
	font-size:120%;
	font-family:Arial, serif;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	background-image:  linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:20%;
	}
	
#ohje {  /*sopii napille, jossa yksi rivi tekstiä, kuten "ohje" */
	text-align:center;
	text-decoration:none;
	font-size:150%;
	font-family:Arial, serif;
	
	height:70%;
	line-height: 230%;
	width:10%;
	
	background-image:  linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:5%;
	}

#back_header {
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	background-image: linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:88%;
	}
	
#back {
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:9%;
	line-height: 150%;
	width:9%;
	
	border-color:#61533e;
	background-image: linear-gradient(to bottom, #ffffff, #61533e);
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:2%;
	right:88%;
	}


#pisteet p {	
	font-family:serif;
	font-size:24px;

	position:absolute;
	top:590px;
	right:50px;

	height:50px;
	width:200px;
	border-color:#0f92bd;
	background-color:#00bbf2;
	border-style:solid;
	border-width:1px;
	border-radius:3px;	}


#login {
	text-align:center;
	text-decoration:none;
	font-family:Arial, serif;
	
	height:3%;
	width:10%;
	
	background-image:  linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;

}

/* MUUT 
--------------------------------------------------------------------------------------------------------------------------------
*/
	
#nimi{
	font-family:serif;
	font-size:20px;
 	height:100px;
	width:650px;
	border-color:#66CD00;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background-color:#7cfc00;
	opacity:0.8;
	padding-top: 15px;
	padding-bottom: 15px;

	position:absolute;
	top:250px;
	right:400px;
	}
	
#kayttaja {
	border-radius:10px;
	direction: ltr;
	height: 30px;
	width:300px;
	font-size: 16px;
	}
	
#salasana {
	border-radius:10px;
	direction: ltr;
	height: 30px;
	width:300px;
	font-size: 16px;
	}
	
.pysaytys {
text-align:center;}


