html, body {
	height: 100%;
	}
	
body {
	background-color: #539C40;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#539C40), to(#999999));
  background-image: -webkit-linear-gradient(top, #539C40, #999999);
  background-image:    -moz-linear-gradient(top, #539C40, #999999);
  background-image:      -o-linear-gradient(top, #539C40, #999999);
  background-image:         linear-gradient(to bottom, #539C40, #999999);

}

#header {
	position: fixed;
	width:100%;
	margin-top: -15px;
	height: 12%;
	
	background-color: #7f7f7f;
	border-color:#7f7f7f;
	border-style:solid;
	border-radius:10px;
	opacity:0.9;
}

#header h1 {	font-family:Arial, serif;
		text-transform:bold;
		font-size:250%;
		color:black;
		text-align:center; }

 #kirjaudu {   /*sopii napille, jossa kaksi riviä tekstiä, kuten "kirjaudu sisään" */
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	border-color:#7f7f7f;
	background-color:#7f7f7f;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:20%;
	}
	
#ohje {  /*sopii napille, jossa yksi rivi tekstiä, kuten "ohje" */
	text-align:center;
	text-decoration:none;
	font-size:150%;
	font-family:Arial, serif;
	
	
	height:70%;
	line-height: 230%;
	width:10%;
	
	border-color:#7f7f7f;
	background-color:#7f7f7f;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:5%;
	}
	
	
	
a {text-decoration:none;} /*miks tätä tarvii, miksei tää toimi #alkuohje sisällä? */	
	
	
	

.kuvake{
	font-size:150%;
	height:45%;
	width:35%;
	border-color:#7f7f7f;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	background-color:#7f7f7f;} 



#alku_harjoittele{
	text-align:center;
	position:absolute;
	top:30%;
	right:10%;	}

#alku_harjoittele img {
	position:fixed;
	height:35%;
	width:30%;
	top:38%;
	right:12%;}



#alku_pelaa {
	text-align:center;
	position:absolute;
	top:30%;
	right:55%;}

#alku_pelaa img {
	position:fixed;
	height:35%;
	width:30%;
	top:38%;
	right:57%;}



	
#back_alkuun { 
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	border-color:#008001;
	background-color:#7fff7f;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:88%;
	}
		
	

	
	

.level { height:200px;
	width:250px;
	border-color:#003300;
	border-style:solid;
	border-width:1px;
	border-radius:3px;
	background-color:#008001;}


.level img {	height:180px;
	width:230px;}


#level1{
	position:absolute; top:100px; right:900px;}

#level2{
	position:absolute;top:100px;right:500px;}

#level3{
	position:absolute;top:100px;right:100px;}

#level4{
	position:absolute;top:400px;right:900px;}

#level5{
	position:absolute;top:400px;right:500px;}

#level6{
	position:absolute;top:400px;right:100px;}



#back_header {
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	border-color:#008001;
	background-color:#7fff7f;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:88%;
	}
	
#back {
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:9%;
	line-height: 150%;
	width:9%;
	
	border-color:#008001;
	background-color:#7fff7f;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:2%;
	right:88%;
	}




#pisteet p {	
	font-family:cursive;
	font-size:24px;

	position:absolute;
	top:600px;
	right:180px;

	height:50px;
	width:200px;
	border-color:#0f92bd;
	background-color:#00bbf2;
	border-style:solid;
	border-width:1px;
	border-radius:3px;	}


	
	
.pysaytys {
text-align:center;}

#pisteet p {	
	font-family:serif;
	font-size:24px;

	position:absolute;
	top:590px;
	right:50px;

	height:50px;
	width:200px;
	border-color:#0f92bd;
	background-color:#00bbf2;
	border-style:solid;
	border-width:1px;
	border-radius:3px;	}
	
#nimi{
	font-family:serif;
	font-size:20px;
 	height:100px;
	width:650px;
	border-color:#66CD00;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background-color:#7cfc00;
	opacity:0.8;
	padding-top: 15px;
	padding-bottom: 15px;

	position:absolute;
	top:250px;
	right:400px;
	}
	
	
.ohjeruutu {
	text-align:center;
	font-family:serif;
	font-size:20px;
 	height:60%;
	width:50%;
	border-color:#66CD00;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background-color:#7cfc00;
	opacity:0.9;

	position:absolute;
	top:20%;
	right:25%;
	}
.hidden {
	display:none;}

