
		
html, body {
 margin:0; padding:0; height:100%; width:100%;	}
	
body {
    background-image:url('tausta.jpg');         
}


/* #juurekko{
    text-align: center} */

/* #globalheader { z-index:9998; top:18px; margin:0 auto; } */

/* #header h1 {	font-family:Arial, serif;
		float:none;
        width: 100px;
        text-transform:bold;
		font-size:250%;
		color:black;
		text-align:center;} */
		
		
#alkuohje {
	font-size:130%;
	border-radius:10px;
	background-color:#FFF;
	opacity:0.9;
	z-index:3;
	width:80%;
	height:80%;
	position:absolute;
	top:10%;
	right:10%;
	text-align:center;	
	display:block;
	}
		
/* OHJERUUTU ----------------------------------------------------------------------------------------------------------------------- */		
		
.ohjeruutu {
	text-align:center;
	font-family:serif;
	font-size:20px;
 	height:60%;
	width:50%;
	border-color:#66CD00;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background-color:#7cfc00;
	opacity:0.9;

	position:absolute;
	z-index: 10;
	top:20%;
	right:25%;
	}
.hidden {
	display:none;}		


/* KUVAKKEET ----------------------------------------------------------------------------------------------------------------------------- */	
	
	
/* .kuvake{   /* Pelaa ja Harjoittele 
	font-size:150%;
	height:150px;
	width:150px;
	border-radius:50%;
	background:#0292C0;
    opacity: 0.8;

} 
 */

/* #alku_harjoittele{
	text-align:center;
	position:absolute;
	top:40%;
	right:25%;	}




#alku_pelaa {
	text-align:center;
	position:absolute;
	top:40%;
	left:25%;
}
    




#alku_harjoittele img {
	position:fixed;
	height:35%;
	width:30%;
	top:38%;
	right:12%;}



#alku_pelaa img {
	position:fixed;
	height:35%;
	width:30%;
	top:38%;
	right:57%;}
 */

	

.level { 
	background-image:url('level.jpg');
	height:80%;
	width:80%;
/* 	border-color:#bda98a;
	border-style:solid;
	border-width:1px; */
	border-radius:50%;
	z-index:2;}



#level1{
	position:absolute; top:20%; right:70%;}

#level2{
	position:absolute;top:20%;right:40%;}

#level3{
	position:absolute;top:20%;right:10%;}

#level4{
	position:absolute;top:60%;right:70%;}

#level5{
	position:absolute;top:60%;right:40%;}

#level6{
	position:absolute;top:60%;right:10%;}
	

/* .lock {
	z-index:2;}

.pic {
	z-index:1;} */

	
	
	
/* NAPIT
-------------------------------------------------------------------------------------------------------------------
*/


/* #kirjaudu {   /*sopii napille, jossa kaksi riviä tekstiä, kuten "kirjaudu sisään" */
/* 	text-align:center;
	text-decoration:none;
	font-size:120%;
	font-family:Arial, serif;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	background-image:  linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:20%;
	} */ 
	
/*#ohje {  /*sopii napille, jossa yksi rivi tekstiä, kuten "ohje" */
/*	text-align:center;
	text-decoration:none;
	font-size:150%;
	font-family:Arial, serif;
	
	height:70%;
	line-height: 230%;
	width:10%;
	
	background-image:  linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:5%;
	}   */

/* #back_header {
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:70%;
	line-height: 140%;
	width:10%;
	
	background-image: linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:10%;
	right:88%;
	} */
	
#keskeyta {
	text-align:center;
	font-size:120%;
	font-family:Arial, serif;
	text-decoration:none;
	
	height:9%;
	line-height: 150%;
	width:9%;
	
	border-color:#61533e;
	background-image: linear-gradient(to bottom, #ffffff, #61533e);
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	
	position:absolute;
	top:2%;
	right:88%;
	
	z-index:3;
	}


#pisteruutu {	
	font-family:serif;
	font-size:24px;

	position:absolute;
	top:590px;
	right:50px;

	height:50px;
	width:200px;
	border-color:#0f92bd;
	background-color:#00bbf2;
	border-style:solid;
	border-width:1px;
	border-radius:3px;	
	
	z-index:3;}


/*#login {
	text-align:center;
	text-decoration:none;
	font-family:Arial, serif;
	
	height:3%;
	width:10%;
	
	background-image:  linear-gradient(to bottom, #ffffff, #61533e);
	border-width:1px;
	border-radius:5px;

}   */

/* MUUT 
--------------------------------------------------------------------------------------------------------------------------------
*/

/* KIRJAUTUMINEN --------------------------------------------------------------------------------------------------------------------------------------
*/
/*
#kirjautuneena {

	height: 35%;
	width:15%;
	font-size: 110%;
	font-family:sans-serif;
	color:#ffffff;
	
	position:absolute;
	top:30%;
	right:70%;
}  

#kirjautuneena i {
	font-size:40px;
}  */
	
#kirjautumiskenttä{
	font-family:serif;
	font-size:20px;
 	height:20%;
	width:40%;
	border-color:#66CD00;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	background-color:#7cfc00;
	opacity:0.8;
	padding-top: 15px;
	padding-bottom: 15px;

	position:absolute;
	top:40%;
	right:30%;
	}
	
#kayttaja {
	border-radius:10px;
	direction: ltr;
	height: 30px;
	width:300px;
	font-size: 16px;
	}
	
#salasana {
	border-radius:10px;
	direction: ltr;
	height: 30px;
	width:300px;
	font-size: 16px;
	}
	

/* VIDEO -----------------------------------------------------------------------------------------------------------------------------------*/

	
#videoplayer {
	height:100%;
	width:100%;
	z-index: 1;
    position: absolute;
	}

.hitpoint {
    width: 2em;
    height: 2em;
    background-color: red;
    z-index: 2;
    display: none;
    position: absolute;
}

/* #hr {
    color: #123455;
} */


/*Valikko*/
/*ul{
    margin: 0;
    padding:0;
    list-style: disc;
}   */
 
li{
    width:20%;
    height:7%;
    float:left; 
    color:#FFF;
    text-align:center;
    overflow:hidden;
	list-style-type: none;

}
 
li p a{
    color:#FFF;
    text-decoration:none;
}

li a p{
    color:#FFF;
    text-decoration:none;
}
 
li p{
    font-family: ARIAL;
    font-size: 20px;
    
}
 
 /*   .subtext{
        padding-top:-200%;
    }  */
 
/*Menu Color Classes*/
.green{background:#6AA63B;}
.yellow{background:#FBC700;}
.red{background:#D52100;}
.purple{background:#5122B4;}
.blue{background:#0292C0;
opacity: 0.8;}



